@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #647df9;
    padding: 20px;
}

/* all cards general design  */
.wrapper{
    max-width: 1090px;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper .card{
    background-color: #fff;
    width: calc(33% - 20px);
    padding: 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* price area general design  */
.card .price-section{
    display: flex;
    justify-content: center;
}

.card .price-area{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
}

.card .inner-area{
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 117px;
    position: relative;
}

.price-area .inner-area .text{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 17px;
}

.price-area .inner-area .price{
    font-size: 45px;
    font-weight: 500;
    margin-left: 16px;
}

/* package name general design  */
.card .package-name{
    width: 100%;
    height: 2px;
    margin: 35px 0px;
    position: relative;
}

.card .package-name::before{
    position: absolute;
    left: 50%;
    font-size: 25px;
    font-weight: 500;
    background: #fff;
    padding: 0 15px;
    transform: translate(-50%, -50%);
}

/* features general design  */
.card .features li{
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.features li .list-name{
    font-size: 17px;
    font-weight: 400;
}

.features li .icon{
    font-size: 15px;
}
.features li .icon.check{
    color: #2db94d;
}
.features li .icon.cross{
    color: #cd3241;
}

/* all card button general design  */
.card .btn{
    /* width: 100%; */
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.card .btn button{
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* .basic .features li::selection{
    background: #ffd861;
} */

/* basic colors */
.basic ::selection,
.basic .price-area,
.basic .inner-area{
  background: #ffd861;
}

.basic .btn button{
    border: 2px solid #ffd861;
    background: #fff;
    color: #ffd861;
}

.basic .btn button:hover{
    border-radius: 5px;
    background: #ffd861;
    color: #fff;
}

/* premium colors  */
.premium ::selection,
.premium .price-area,
.premium .inner-area{
  background: #a26bfa;
}

.premium .btn button{
    border: 2px solid #a26bfa;
    background: #fff;
    color: #a26bfa;
}

.premium .btn button:hover{
    border-radius: 5px;
    background: #a26bfa;
    color: #fff;
}

/* ultimate colors  */
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area{
  background: #43ef8b;
}

.ultimate .btn button{
    border: 2px solid #43ef8b;
    background: #fff;
    color: #43ef8b;
}

.ultimate .btn button:hover{
    border-radius: 5px;
    background: #43ef8b;
    color: #fff;
}

/* basic package-name  */
.basic .package-name{
    background: #ffecb3;
}
.basic .package-name::before{
    content: "Basic";
}

/* basic package-name  */
.premium .package-name{
    background: #d0b3ff;
}
.premium .package-name::before{
    content: "Premium";
    font-size: 23px;
}

/* basic package-name  */
.ultimate .package-name{
    background: #baf8d4;
}
.ultimate .package-name::before{
    content: "Ultimate";
    font-size: 23px;
}

/* media query  */
@media (max-width: 1020px) {
    .wrapper .card{
      width: calc(50% - 20px);
      margin-bottom: 40px;
    }
}

@media (max-width: 698px) {
    .wrapper .card{
      width: 100%;
    }
}

::selection{
    color: #fff;
}

/* Ribbon  */
.card .ribbon{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
  }
  .card .ribbon::before,
  .card .ribbon::after{
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border: 7px solid #4606ac;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .card .ribbon::before{
    top: 0px;
    right: 15px;
  }
  .card .ribbon::after{
    bottom: 15px;
    left: 0px;
  }
  .card .ribbon span{
    position: absolute;
    top: 30px;
    right: 0;
    transform: rotate(-45deg);
    width: 200px;
    background: #a26bfa;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  }